In [2]:
import sys, os
print("Python:", sys.executable)
import pandas as pd
print("pandas:", pd.__version__)

# garantir que o notebook encontra o módulo 'src'
import os, sys
sys.path.append(os.path.abspath(".."))

Python: /Users/pedroazevedo/Documents/GitHub/BigDataFoundations/.venv-franco/bin/python
pandas: 2.3.3

In [3]:
from src.utils import get_athena_connection, read_sql_df
from src.config import DB_ATHENA

conn = get_athena_connection()

# mostra as tabelas do Athena
sql = f"SHOW TABLES IN {DB_ATHENA};"
tables = read_sql_df(sql, conn)
tables

ModuleNotFoundError: No module named 'dotenv'

In [ ]:
##teste

df_test = read_sql_df("SELECT * FROM movielens1m.movies_parquet LIMIT 5;", conn)
df_test.head()

c:\Users\sarac\rep_DSF\BigDataFoundations\src\utils.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, conn)

   movieid                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy