In [3]:
import sys, os
print("Python:", sys.executable)
import pandas as pd
print("pandas:", pd.__version__)

# garantir que o notebook encontra o m√≥dulo 'src'
import os, sys
sys.path.append(os.path.abspath(".."))

Python: c:\Users\sarac\rep_DSF\BigDataFoundations\.venv\Scripts\python.exe
pandas: 2.3.3

In [4]:
from src.utils import get_athena_connection, read_sql_df
from src.config import DB_ATHENA

conn = get_athena_connection()

# mostra as tabelas do Athena
sql = f"SHOW TABLES IN {DB_ATHENA};"
tables = read_sql_df(sql, conn)
tables

c:\Users\sarac\rep_DSF\BigDataFoundations\src\utils.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, conn)

  tab_name
0   movies
1  ratings
2    users