In [1]:
#================================================
# EXPLORAÇÃO INICIAL DA TABELA "links"
#================================================

import duckdb, pandas as pd
from pathlib import Path

# cria ou liga se já existir:
con = duckdb.connect("movielens100K.duckdb")

#### ================================================
#### EXPLORAÇÃO INICIAL DA TABELA "links"
#### ================================================


 - To know Before:
 - movieId is an identifier for movies used by <https://movielens.org>. E.g., the movie Toy Story has the link <https://movielens.org/movies/1>

 - imdbId is an identifier for movies used by <http://www.imdb.com>. E.g., the movie Toy Story has the link --<http://www.imdb.com/title/tt0114709/>.

 - tmdbId is an identifier for movies used by <https://www.themoviedb.org>. E.g., the movie Toy Story has the link --<https://www.themoviedb.org/movie/862>.

 -Use of the resources listed above is subject to the terms of each provider.
#### ================================================

In [2]:
#Ver estrutura da tabela (colunas e tipos de dados)
con.sql("DESCRIBE links").df()

  column_name column_type null   key default extra
0     movieId      BIGINT  YES  None    None  None
1      imdbId     VARCHAR  YES  None    None  None
2      tmdbId      BIGINT  YES  None    None  None

#### Comentário

 - "movieID":  BIGINT;
 - "imdbID": VARCHAR
 - "tmdbID":  BIGINT;

In [3]:
#Ver o tipo de dados de cada coluna
con.sql("PRAGMA table_info('links')").df()

   cid     name     type  notnull dflt_value     pk
0    0  movieId   BIGINT    False       None  False
1    1   imdbId  VARCHAR    False       None  False
2    2   tmdbId   BIGINT    False       None  False

#### Comentários

 - A coluna "notnull boolean" indica 4 valores zeros.
 - Assim esta tabela aceita nulos ou NULL.
 - Como df foi carregado com read_csv_auto, DuckDB não aplica restrições de NOT NULL

 - Coluna flt_value mostra valor por defeito atribuído caso não seja especificado outro valor quando fazes um INSERT.
 - Nos datasets importados com read_csv_auto (como o MovieLens), esta coluna vai quase sempre aparecer como NULL

 - pk boolean indica se aquela coluna faz parte da chave primária da tabela
 - Não faz parte

In [4]:
#Ver primeiras 10 linhas
con.sql("SELECT * FROM links LIMIT 10").df()

   movieId   imdbId  tmdbId
0        1  0114709     862
1        2  0113497    8844
2        3  0113228   15602
3        4  0114885   31357
4        5  0113041   11862
5        6  0113277     949
6        7  0114319   11860
7        8  0112302   45325
8        9  0114576    9091
9       10  0113189     710

In [5]:
#Contar o número total de linhas
con.sql("SELECT COUNT(*) AS total_registos FROM links").df()

   total_registos
0            9742

In [6]:
#Contar o número de missing values
con.sql("""
SELECT
    COUNT(*) - COUNT(movieId) AS missing_movieId,
    COUNT(*) - COUNT(imdbID) AS missing_imdbID,
    COUNT(*) - COUNT(tmdbID) AS missing_tmdbID
FROM links
""").df()

   missing_movieId  missing_imdbID  missing_tmdbID
0                0               0               8

#### Fechar a ligação

In [7]:
con.close()
print("Ligação fechada.")

Ligação fechada.